html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Verdana', sans-serif;
  background: #FFE6BE;
  margin: 0;
  padding: 0;
  min-width: 50rem;
  max-width: 87.5rem;
}

/* Structure
*************/

#wrap,
header,
body nav,
#wrap {
	margin: 1.25rem auto; /* 20 / 16 */
	width: 78.92659826361483%; /* 1000 / 1267 */
}

#wrap {
  color: #333333;
  letter-spacing: .12em;
  line-height: 1.3em;
  padding: 0;
  position: relative;
}

header {
  background-color: #FFFFFF;
  background-image: url('img/header-large.jpg');
  background-repeat: no-repeat;
  background-position: right;
  height: 300px;
  position: relative;
}

main {
	width: 62%; /* 610 / 1000 */
	position: absolute;
	left: 0px;
	top: 0px;
}

aside {
  width: 36%; /* 360 / 1000 */
  margin: 0px ;
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Styles généraux
*******************/
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #DD4C0B;
  text-decoration: none;
}

a:hover {
  color: #728498;
  text-decoration: none;
}

/* En-tête
***********/
header a {
  text-decoration: none;
}

header a:hover {
  color: #DD4C0B;
}

header h1 {
  font-size: 2.5rem; /*(40 / 16) */
  text-shadow: 1px 1px 1px #EFE2C0;
  padding: 1.25rem 2% ; /* 20 / 1000 */
}

header p {
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px #333333;
  position: absolute;
  bottom: 1.25em;
  left: 1.5%;
}

/* Menu de navigation
*********************/
body > nav ul {
  margin: 0 0 1.25rem 0; /* 20 / 16 */
}

body > nav ul li {
	display: inline-block;
}

body > nav ul li a {
  background: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #495DB6;
  margin: 0 1.25rem 0 0; /* 20 / 16 */
  padding: 0.625rem 10% ; /* 10 / 16 et 10 / 1000 */
  display: inline-block;
}

body > nav ul li:last-child a {
  margin: 0;
}

body > nav ul li a:hover,
#wrap nav ul li.current a {
  background: #495DB6;
  color: #FFFFFF;
  border: 1px solid #495DB6;
}

/* Zone centrale
****************/
main article,
main nav {
  background: #FFFFFF;
  width: 100%;
  margin: 0 0 1.25rem 0;
  padding: 1.25rem 3.278688524590164%; /* 20 / 610 */
}

main p, main h1, main h2, main h3, main h4, main h5, main h6,
aside section p, aside section h3, aside section ul  {
  margin: 0 0 1.25rem 0; /* 20 / 16 */
}

main article:last-child, main article p:last-child,
aside section p:last-child, aside section h3:last-child, aside section ul:last-child  {
  margin: 0;
}

main article h2 {
  font-size: 2.1875rem; /* 35 / 16 */
}

main article p {
  font-size: 1rem;
}

main article p.info {
  font-size: 0.75rem; /* 12 / 16 */
}

article figure {
  background: #EEEEEE;
  font-size: 0.75rem;
  border: 1px solid #495DB6;
  width: 212px; /* On laisse en px */
  margin: 0 10px 0 0;
  padding: 5px;
  float: left;
}

article figure img,
article figure video {
  border: 0;
  width: 200px; /* on laisse  en px */
  height: 133px;
  clear: both;
}

/* Older / newer
****************/
main nav ul li {
	display: inline-block;
	width: 49.310344827586206%; /* 286 / 580 */
}

main nav ul li:last-child {
	text-align: right;
}

/* Barre de droite
*******************/
aside {
  width: 36%; /* 360 / 1000 */
  margin: 0px ;
  position: absolute;
  top: 0px;
  right: 0px;
}

aside section {
  background: #FFFFFF;
  width: 100%; /* 320 / 360 */
  margin: 0 0 20px 0;
  padding: 1.25rem 5.555555555555555%; /* 20 / 360*/
}

aside section:last-child {
  margin: 0;
}

aside section h3 {
  font-size: 1.5625rem; /* 25 / 16 */
}
